body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}
body {
  background-color:#282c34;
}
.App {
  flex-direction:column;
}

#hexGrid {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -50px;
  left: -50px;
  z-index: -3;
  opacity: 0.1;
}

.page {
  display: flex;
  flex-direction: column;
  align-items:center;
  min-height: 100vh;
}


.App,.App-header{
  display:flex;
  color:#fff;
  align-items:center;
}
.App-header{
  flex-direction:row;
  justify-content:center;
}

.page, .App-header, .aboutMeScreen {
  width:70%;
  padding-left: 1em;
  padding-right: 1em;
  background-color:rgba(40,44,52, .8);
}

.App-header a{
  text-decoration:none
}
a {
  color:#fff
}
.headerLink {
  margin-left:20px;
  margin-right:20px
}
a:hover,.headerLink:hover {
  opacity: 0.9
}
a:active, .headerLink:active {
  opacity: 0.6
}
.App-header button,p {
  border:none;
  color:#fff;
  font-size:16px;
  padding:0
}
button:hover{
  opacity:.7
}
button:active{
  opacity:.3
}
.aboutMeScreen{
  justify-content:flex-start;
  min-height: 100vh;
}
.aboutMeScreen,.aboutMeSection {
  display: flex;
  flex-direction: column
}
.aboutMeSection { 
  align-items: flex-start;
  margin-bottom: 1.5em;
}
.aboutMeScreen *, .noMarginBlock *, .page *  {
  margin-block-start:0;
  margin-block-end: 0
}
.aboutMeSection p, .homeScreen p {
  margin-bottom: 1.5em;
}
.homeScreen p {
  margin-top: 1em
}

.aboutMeScreen p,li,ul{
  text-align:left;
  line-height:1.25em;
}
.schoolTitle{
  font-weight:700;
  margin-block-end:.2em;
  font-size:18px
}
.aboutMeScreen hr{
  width:98%;
  margin-inline:0;
  opacity:.3
}


.treemapButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 24px;
  padding-bottom: 5px;
  box-shadow: none;
  border: 1px solid gray;
  background-color: rgba(200, 200, 200, 0.7);
}

.resizable {
  position: relative;
  height: 500px;
  width: 500px;
  resize: both;
  overflow: hidden;
  max-height: fit-content;
  max-width: fit-content;
  border: 10px solid white;
  background-color: white;
  margin-bottom: 10px;
}

.sectionHeader {
  width: 100%;
}

.openSH {
  margin-bottom: 0.5em;
}

.closedSH {
  margin-bottom: 1em;
}